ctransformers==0.2.5
sentence-transformers
pinecone-client==3.2.2 
flask
pypdf
python-dotenv
-e .
transformers
torch
librosa
soundfile
gunicorn
flask-cors
langchain==0.0.320
langchain-community==0.0.15
langchain-huggingface



