ctransformers==0.2.5
sentence-transformers
pinecone-client==3.2.2 
flask
pypdf
python-dotenv
-e .
transformers
torch
librosa
soundfile
gunicorn
flask-cors
langchain
langchain-community
langchain-huggingface



